@font-face {
    font-family: 'Avenir';
    src: url('../../static/fonts/avenir_regular-webfont.woff2') format('woff2'),
        url('../../static/fonts/avenir_regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../../static/fonts/avenir_black-webfont.woff2') format('woff2'),
        url('../../static/fonts/avenir_black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../../static/fonts/avenir_light-webfont.woff2') format('woff2'),
        url('../../static/fonts/avenir_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../../static/fonts/avenir_heavy-webfont.woff2') format('woff2'),
        url('../../static/fonts/avenir_heavy-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../../static/fonts/avenir_book-webfont.woff2') format('woff2'),
        url('../../static/fonts/avenir_book-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
