@mixin icon {
    .icon {
        @content;
    }
}

@mixin pre-mobile {
    @media only screen and (max-width: 1124px) and (min-width: 840px) {
        @content;
    }
}

@mixin not-mobile {
    @media only screen and (min-width: 840px) {
        @content;
    }
}

@mixin mobile {
    @media only screen and (max-width: 840px) {
        @content;
    }
}

@mixin phone {
    @media only screen and (max-width: 575px) {
        @content;
    }
}

@mixin small-phone {
    @media only screen and (max-width: 420px) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: 1560px) {
        @content;
    }
}

@mixin spin {
    animation: rotateit 1.5s linear infinite;
}

@keyframes rotateit {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}
